<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wx_Frame">
		<icon stock_id="wxART_TIP" />
		<size>263,119</size>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<id_arg>0</id_arg>
		<handler function="skip_leftdown" entry="EVT_LEFT_DOWN" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>1</cols>
			<rows>3</rows>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="m_notebook" member="yes">
					<size>363,32</size>
					<handler function="OnNotebookPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="m_map_panel" member="yes">
					<size>616,348</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="m_menubar" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>Файл</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Выход</label>
					<accel>Alt-F4</accel>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Помощь</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>О программе...</label>
					<accel>F1</accel>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="m_statusbar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxMenu" variable="m_object_menu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM_ACK" variable="m_objectmenu_ack" member="yes">
				<label>Квитировать</label>
				<handler function="OnMenuItem_AckSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM_UNACK" variable="m_objectmenu_unack" member="yes">
				<label>Убрать квитирование</label>
				<handler function="OnMenuItem_UnackSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM_PING" variable="m_objectmenu_ping" member="no">
				<label>Состояние хоста</label>
				<handler function="OnMenuPing_Selected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
